* {
    margin: 0px;
    padding: 0px;
}


body {
    /* width: 1200px; */
    font-family: 'Merriweather', serif;
    margin-left: 30px;
    margin-right: 30px;

}

/* banner section css */
.banner {
    background-image: url("../image/Banner\ Image.png");
    height: 100vh;
    background-repeat: no-repeat;
    margin: 50px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */


}

.banner-contant {
    color: #FFF;
    text-align: center;
    padding: 72px;
}

.banner-contant p {
    font-size: 32px;
    padding-top: 150px;
    font-weight: 400;
}

.banner-contant h2 {
    font-size: 60px;
    font-weight: 900;
    /* padding-bottom:70px ; */
}

/* banner section css end */

/* offer section css */
.offer {
    margin-top: 80px;
    text-align: center;
    font-family: Inter;
    color: #F00;
    font-size: 88px;
}

.text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.CATEGORIES {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-align: center;

    /* padding: 40px; */

}

.new-year-pic {
    width: 75%;
    margin: auto;
    height: 500px;
    margin-left: 140px;
}


/* wellcome section css start */
.wellcome {
    background-image: url("../image/Vectorrr.png");
    color: #FFF;
    background-repeat: no-repeat;
    /* font-size: 64px; */
    background-size: cover;
    font-weight: 900;
    height: 600px;
    margin: 30px;
    border-radius: 16px;
    display: flex;
}

.title {
    padding-top: 120px;
    padding-left: 120px;

}

.title h3 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;

}

.title p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.title .btn {
    background: none;
    color: #FFF;
    padding-left: 40px;
    border: 0;
    font-size: 20px;
}

.wellcome img {
    padding-top: 68px;
    padding-bottom: 68px;
    padding-right: 30px;

}

.area {
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 80px;
    padding-bottom: 170px;
    padding-right: 380px;
    padding-left: 380px;
    font-family: Inter;
    margin: auto;
    font-size: 32px;
    color: #070211;

}

.area p {
    font-size: 32px;
}
.join-button{
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 10px 25px;
}

span {
    color: #F00;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}

/* awsome portfolio css start */

.awesome-portfolio {
    margin: auto;
}



.gift-title {
    padding-bottom: 40px;
}

.gift-title p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.gift-title h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

/* awsome portfolio css END */
.email-background {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 100px;


}

.email-pic {
    padding-top: 80px;
    margin-left: 565px;

}

.email-descrption {
    text-align: center;
    padding-bottom: 100px;

}

.email-descrption input {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding: 10px;
    border: 0 ;
}

.email-descrption button {
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    border: 0;
}

footer {
    background: #070211;
    height: 250px;
    padding: 120px;


}

.footer-top {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    justify-content: space-between;

}
.top-right i{
    
   
}

.social-icon {
    display: flex;
    justify-content: center;
    gap:24px;
    padding-top: 100px;
}



.footer-bottom {
    font-family: Inter;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    
}